

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif 
}

.w3-bar-block .w3-bar-item {
    padding: 20px;
}

header {
width: 100%;
height: 300px;
background: greenyellow;
}

 header h1{
  padding: 1.5% 0 0 3%;
  font-size: 50px;
  color: white;
} 

.first-div {
  margin-top: 15%;
}

.types-food {

  margin: 7% 0 0% 35%;
  background: rgb(0,0,0, 0.08);
  border: lightgray;
  border-radius: 2px;
  font-size: 25px;
  width: 35%;
}


.size {

  font-size: 35px;
}




.imagen {
  height: 200px;
  line-height: 200px;
  
}